.input
{
    height : 25%;
    width : 100%;
    background-color: snow;
    border-width : 1px;
    border-radius: 2px;
    border : none;
    border-bottom : 2px solid blue;
    
}

input:focus {
    border-bottom : 2px solid red;
    outline: none;
  }

.label
{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bio
{
    height : 100px;
}

.SignUp
{
    height : 900px;
    background-color: black;
}