.input
{
    height : 40px;
    width : 300px;
    background-color: snow;
    border-width : 1px;
    border-radius: 2px;

    :active
    {
        background-color: red;
    }

    
}

.label
{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bio
{
    height : 100px;
}

.SignUp
{
    height : 900px;
    background-color: black;
}